[submodule "build-containers"]
	path = modules/build-containers
	url = https://github.com/godotengine/build-containers.git
[submodule "build-scripts"]
	path = modules/build-scripts
	url = https://github.com/godotengine/godot-build-scripts.git
[submodule "godot"]
	path = modules/godot
	url = https://github.com/godotengine/godot.git
	branch = 4.4
